<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Permissions
      </h1>
   

    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
        <div class="box-body">


<div class="row">
<!-- btns -->
<div class="col-md-12">
	<button  class="btn btn-primary"
	(click)="globalService.showModal('#createPermissionModal');">
  Create
  </button>

<button  [disabled]="!selectedPermission" class="btn btn-success" (click)="globalService.showModal('#editPermissionModal');">
   Edit 
  </button>

  	<button [disabled]="!selectedPermission" class="btn btn-danger"
	(click)="globalService.showModal('#deletePermissionModal');">
	Delete
	</button>

</div>

</div>


         <table  class="table">
        
          <thead> <tr><th>Name</th> <th>Content Type</th> <th>Code Name</th></tr></thead>
          
           <tbody>
              <tr *ngFor="let p of permissions"   (click)="onSelectPermission(p)" [class.selected]="p== selectedPermission">
                <td>{{p.name}}</td>

                <td>{{getContentType(p.content_type)}}</td>
                
                <td>{{p.codename}}</td>
                </tr>
           </tbody>
           

         </table>

<!-- pagination -->

<pagination-component [pagination]="pagination" (onPagination)="onPagination($event)"></pagination-component>

<!--./pagination -->


        </div>
        <!-- /.box-body -->
        
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>



<!-- create permission modal -->
<div class="modal fade" id="createPermissionModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        
        <h4 class="modal-title" > Create Permission </h4>
      </div>
      <div class="modal-body">
      
      <form class="form" (ngSubmit)="createPermission()" #permissionCreateForm="ngForm">
        <div class="form-group" [class.has-success]="permission.name" > 
          <label>Name:</label>
          <input class="form-control" type="text" name="name" 
          [(ngModel)]="permission.name" placeholder="Name" #name="ngModel" required  >
        <div [hidden]="name.valid || name.pristine" 
           class="alert alert-danger"> Name is Required 
        </div>
        </div>     

           <div class="form-group" [class.has-success]="permission.codename" > 
          <label>Code Name:</label>
          <input class="form-control" type="text" name="codename" 
          [(ngModel)]="permission.codename" placeholder="Code Name" #codename="ngModel" required  >
        <div [hidden]="codename.valid || codename.pristine" 
           class="alert alert-danger"> Code Name is Required 
        </div>
        </div> 

         <div class="form-group" [class.has-success]="permission.content_type" > 
          <label>Content Type :</label>
          <select class="form-control" name="content_type" #content_type="ngModel"  [(ngModel)]="permission.content_type">
            <option *ngFor="let ct of contentTypes" [ngValue]="ct.id">{{ct.app_label}}.{{ct.model}}</option></select>
         
        <div [hidden]="content_type.valid || content_type.pristine" class="alert alert-danger"> Content Type  is Required 
        </div>
        </div>  




        <div class="form-group">
          <button class="btn btn-primary btn-block"  [disabled]="!permissionCreateForm.form.valid" type="submit">Save</button>
        </div>

      </form>


      </div>
     
    </div>
  </div>
</div>
<!--./ create permission modal -->

<!-- edit permission modal -->
<div *ngIf="selectedPermission" class="modal fade" id="editPermissionModal"  role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        
        <h4 class="modal-title" > Edit  Permission </h4>
      </div>
      <div class="modal-body">
      
      <form class="form" (ngSubmit)="editPermission()" #permissionEditForm="ngForm">

        <div class="form-permission" [class.has-success]="selectedPermission.name" > 
          <label>Name:</label>
          <input class="form-control" type="text" name="name" 
          [(ngModel)]="selectedPermission.name" placeholder="Name" #name="ngModel" required  >
        <div [hidden]="name.valid || name.pristine" 
           class="alert alert-danger"> Name is Required 
        </div>
        </div>


           <div class="form-group" [class.has-success]="selectedPermission.codename" > 
          <label>Code Name:</label>
          <input class="form-control" type="text" name="codename" 
          [(ngModel)]="selectedPermission.codename" placeholder="Code Name" #codename="ngModel" required  >
        <div [hidden]="codename.valid || codename.pristine" 
           class="alert alert-danger"> Code Name is Required 
        </div>
        </div> 

         <div class="form-group" [class.has-success]="selectedPermission.content_type" > 
          <label>Content Type :</label>
          <select class="form-control" name="content_type" #content_type="ngModel"  [(ngModel)]="selectedPermission.content_type">
            <option *ngFor="let ct of contentTypes" [ngValue]="ct.id">{{ct.app_label}}.{{ct.model}}</option></select>
         
        <div [hidden]="content_type.valid || content_type.pristine" class="alert alert-danger"> Content Type  is Required 
        </div>
        </div>  




     
        <div class="form-permission">
          <button class="btn btn-primary btn-block"  [disabled]="!permissionEditForm.form.valid" type="submit">Save</button>
        </div>

      </form>


      </div>
     
    </div>
  </div>
</div>
<!--./ edit  permission modal -->



<!--  delete permission  modal -->
<div *ngIf="selectedPermission">
<div class="modal fade" id="deletePermissionModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        
        <h4 class="modal-title" > Delete  ?.</h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="deletePermission()">
        
        <p>You are about to delete  {{selectedPermission.name}} . 
        </p>
        	<button type="submit" class="btn btn-danger btn-block"
        >Yes,Delete  .</button>
        
        </form>


      </div>
     
    </div>
  </div>
</div>
</div>
<!-- ./ delete permission  modal -->





