<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Permission Groups </h1>
    </section>
   <section class="content">
     <div class="row">
     <div class="box">
      <div class="box-header">
       <h3 class="box-title">List All</h3>
       </div>
    <!-- /.box-header -->
            
<div class="box-body">

<!--actions -->
<div class="row">
<!-- btns -->
	<div class="col-md-5">
	
		
	<button class="btn btn-primary" 
	(click)="showCreateGroupModal()"
	[disabled]="selectedAclGroup" *ngIf="authenticationService.has_permission('add_group')">
	Create
	</button>

	<button [disabled]="!selectedAclGroup" class="btn btn-info"
	(click)="showEditGroupModal()" *ngIf="authenticationService.has_permission('change_group')">
	Edit
	</button>
	
	<button [disabled]="!selectedAclGroup"  class="btn btn-danger"
	(click)="showDeleteGroupModal()" *ngIf="authenticationService.has_permission('delete_group')">
	Delete
	</button>

</div>

<!-- ./btns -->

<!-- ./btns -->



  <!-- pagination -->


<div class="col-md-3">

</div>



  <!-- ./pagination -->


</div>
  <!-- ./actions -->
 
 <!-- hr -->
 <div class="row"><div class="col-md-12"><hr></div></div>


  <div class="table-responsive">
						<table class="table  table-condensed table-bordered">
              <thead><tr>
                
                <th>Name</th>
                <th></th>
                <th></th>
                
                </tr></thead>
						  	<tbody>
						  

					
								<tr *ngFor="let b of aclGroups" (click)="onSelectAclGroup(b)"
								[class.selected]="b == selectedAclGroup">
									<td>{{b.name}}</td>
                 
                  <td *ngIf="authenticationService.has_permission('change_permission') || authenticationService.has_permission('add_permission') ">
      <a [routerLink]="['/acl-groups',b.id,'permissions']" class="btn btn-sm btn-primary">Permissions</a></td>
    <td *ngIf="authenticationService.has_permission('change_group')"><a [routerLink]="['/acl-groups',b.id,'users']" class="btn btn-default btn-sm">
                 Users </a></td>

								</tr>
							</tbody>
						</table>
						<!-- ./display uusinesss -->
	</div><!-- table responsive -->

<!-- hr -->
 <div class="row"><div class="col-md-12"><hr></div></div>


     </div>
</div></div>
     </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->




<!-- MODALS -->
<!-- create modal -->

<div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        
        <h4 class="modal-title" >Create Group  </h4>
      </div>
      <div class="modal-body">
      	
      
        <form (ngSubmit)="onCreateGroup()" #groupCreateForm="ngForm">
        
        <div class="row">
        	
        	<div class="col-md-12">
        		<!-- name -->
        	<div class="form-category">
        		<label for="name">Name</label>
        		
        		<input type="text" class="form-control"  required
        		[(ngModel)]="aclGroup.name" name="name"
        		#name="ngModel"/>
        		<!-- for error message -->
        		<div [hidden]="name.valid || name.pristine"
        		class="alert alert-danger">
        		Name is required
        		</div>
        		<!-- for error message -->
        	</div>
        	<!-- ./name -->
        	</div>

        </div>	
 <button type="submit" class="btn btn-primary  btn-block"
 [disabled]="!groupCreateForm.form.valid"> Save </button>
        
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ./create modal -->



<!--edit category modal -->

<div *ngIf="selectedAclGroup">
<div class="modal fade" id="editGroupModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        
        <h4 class="modal-title" >Edit Group  </h4>
      </div>
      <div class="modal-body">
      	
      
        <form (ngSubmit)="onEditGroup()" #groupEditForm="ngForm">
        
        <div class="row">
        	
        	<div class="col-md-12">
        		<!-- username -->
        	<div class="form-category">
        		<label for="name">Name</label>
        		
        		<input type="text" class="form-control" required
        		[(ngModel)]="selectedAclGroup.name" name="name"
        		#name="ngModel"
        		/>
        		<!-- for error message -->
        		<div [hidden]="name.valid || name.pristine"
        		class="alert alert-danger">
        		Name is required
        		</div>
        		<!-- for error message -->
        	</div>
        	<!-- ./name -->
        	</div>

        </div>
        	<button type="submit" class="btn btn-primary btn-block"
        [disabled]="!groupEditForm.form.valid">Save Changes </button>
        
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ./modal -->
</div>
<!-- ./edit category modal -->



<!--  delete modal -->
<div *ngIf="selectedAclGroup">
<div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      	
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        
        <h4 class="modal-title" >Delete Group ? </h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onDeleteGroup()">
        
        <p>You are bout to delete {{selectedAclGroup.name}}.
           All associated data will also be deleted. </p>
        	<button type="submit" class="btn btn-danger btn-block"
        >
        Delete</button>
        
        </form>


      </div>
     
    </div>
  </div>
</div>
</div>
<!-- ./ delete modal -->


	
  
