

<div class="row" style="padding-top: 5%;">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
				<div class="panel-heading"> Change Password </div>
				<div class="panel-body">

 <form class="form" (ngSubmit)="changePassword()" #f="ngForm">

    <div class="form-group" [class.has-success]="user.old_password" > 
          <label>Old Password:</label>
          <input class="form-control" type="password" name="old_password" 
          [(ngModel)]="user.old_password" placeholder="Old Password" #old_password="ngModel" required  >
        <div [hidden]="old_password.valid || old_password.pristine" 
           class="alert alert-danger"> Old Password  is Required 
        </div>
    </div>


   <div class="form-group" [class.has-success]="user.new_password" > 
          <label>New  Password:</label>
          <input class="form-control" type="password" name="new_password" 
          [(ngModel)]="user.new_password" placeholder="New Password " #new_password="ngModel" required  >
        <div [hidden]="new_password.valid || new_password.pristine" 
           class="alert alert-danger"> New Password is Required 
        </div>
    </div>


	   <div class="form-group" [class.has-success]="user.new_password_again" > 
          <label>New Password:</label>
          <input class="form-control" type="password" name="new_password_again" 
          [(ngModel)]="user.new_password_again" placeholder="Confirm New Password " #new_password_again="ngModel" required  >
        <div [hidden]="new_password_again.valid || new_password_again.pristine" 
           class="alert alert-danger"> Confirm New Password 
        </div>
        </div>



        <div class="form-group">
          <button class="btn btn-primary btn-block"  [disabled]="!f.form.valid" type="submit">Save Changes </button>
        </div>

      </form>
				</div>
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->	