  <div class="row"></div>

   <div class="col-md-6 ">
     <nav *ngIf="pagination" aria-label="page navigation">
  <ul class="pagination">
     <p>Showing {{pagination.start_index}} to {{pagination.end_index}} of {{pagination.count}} Results.</p>
  </ul>
     </nav>

   </div>

  <div class="col-md-6 ">

    <!-- pagelinks -->
    <nav *ngIf="pagination" aria-label="page navigation" class="pull-right">
  <ul class="pagination">
    <li [class.disabled]="!pagination.html_context.previous_url"  (click)="getDataByLink(pagination.html_context.previous_url)" >
      <a  
         aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li *ngFor="let pl of pagination.html_context.page_links" [class.active]="pl.is_active">
      <a (click)="getDataByLink(pl.url)">{{pl.number}}</a>
    </li>
    
    <li  [class.disabled]="!pagination.html_context.next_url" (click)="getDataByLink(pagination.html_context.next_url)">
      <a   aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav><!-- .pagelinks -->
  </div>


